@import url('./main-layout.css');
@import url('./views/car-finder-advanced-view.css');    html {
      --lumo-primary-color: hsl(216, 87%, 33%);
      --lumo-primary-color-50pct: hsla(216, 87%, 33%, 0.5);
      --lumo-primary-color-10pct: hsla(216, 87%, 33%, 0.1);
      --lumo-shade: hsla(218, 64%, 19%, 1);
      --lumo-shade-5pct: hsla(218, 64%, 19%, 0.05);
      --lumo-shade-10pct: hsla(218, 64%, 19%, 0.1);
      --lumo-shade-20pct: hsla(218, 64%, 19%, 0.2);
      --lumo-shade-30pct: hsla(218, 64%, 19%, 0.3);
      --lumo-shade-40pct: hsla(218, 64%, 19%, 0.4);
      --lumo-shade-50pct: hsla(218, 64%, 19%, 0.5);
      --lumo-shade-60pct: hsla(218, 64%, 19%, 0.6);
      --lumo-shade-70pct: hsla(218, 64%, 19%, 0.7);
      --lumo-shade-80pct: hsla(218, 64%, 19%, 0.8);
      --lumo-shade-90pct: hsla(218, 64%, 19%, 0.9);
      --lumo-body-text-color: hsla(214, 43%, 16%, 0.94);
      --lumo-primary-text-color: hsla(214, 100%, 43%, 0.96);

    }
